* h2,
h1,
p,
h3,
h4 {
  font-family: "Heebo", sans-serif;
}

/***** SVG baggrund ****/

.svg {
  width: 100%;
  min-height: 30vh;
  background-image: url("/img/baggrund.svg");
  margin-top: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.svg .cirkellogo {
  max-width: 130px;
}

.svg_p {
  position: relative;
  top: 100px;
  text-align: center;
  color: #3a1213;
  max-width: 160px;
  display: block;
  margin: 0 auto;
  font-size: 1rem;
  padding-bottom: 150px;
}

@media (min-width: 800px) {
  .svg {
    width: 100%;
    height: 70vh;
    background-image: url("/img/baggrund.svg");
    margin-top: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .svg .cirkellogo {
    max-width: 160px;
  }

  .svg_p {
    top: 200px;
    max-width: 160px;
    font-size: 1.3rem;
    padding-bottom: 200px;
  }
}
