---
import PageLayout from "../layouts/PageLayout.astro";
import "../styles/style.css";
---

<PageLayout>
  <html lang="en">
    <head>
      <meta charset="utf-8" />
      <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
      <meta name="viewport" content="width=device-width" />
      <meta name="generator" content={Astro.generator} />
      <title>Astro</title>
    </head>
    <body>
      <h1>Nærende pauser</h1>
      <h2>Via progressiv musik og visualisering</h2>
      <p>Mere ro</p>
      <p>Større fokus</p>
      <p>Ny energi</p>
      <p>Bedre søvn på bare 10 min</p>

      <img src="/img/cirkellogo.webp" alt="Forside cirkellogo" />
      <p>SoundWheel er en app med fokus på guidede lydrejser og musikmeditationer. Den kombinerer musik, stemme og visualisering for at skabe ro, energi eller fokus. Dette gøres med korte sessioner på under 10 minutter med temaer som Rest, Rise og Create.</p>
      <button>Prøv 14 dage gratis</button>

      <img src="/img/telefon2.webp" alt="billede af en telefon" />
      <img src="/img/telefon1.webp" alt="billede af en telefon 2" />

      <p>14 dages gratis prøveperiode</p>
      <p>Abbonement</p>
      <h3>Fuld afgang til SoundWheel App</h3>
      <ul>
        <li>Musikdrevne visualiserings øvelser</li>
        <li>Mulighed for at slå guide til og fra</li>
        <li>9 temaer Heriblandt Rest, Rise, Create og Receive</li>
        <li>Mere musik, mindre tale</li>
        <li>Motiverende introforløb i 9 trin</li>
        <li>Nemt at opsige</li>
      </ul>
      <h3>Fuld adgang til KidsWheel</h3>
      <ul>
        <li>Lydrejser for børn</li>
        <li>4 temaer Sov godt, Ny energi, Stå sikkert og Balance</li>
      </ul>
      <button>Start prøveperiode</button>

      <section class="tre_grunde">
        <h2>Hvorfor vælge Soundwheel?</h2>
        <div class="grunde">
          <p class="nummer">1</p>
          <h3>Enkelt og fleksibelt</h3>
          <p>Kortfattede lydrejser, der passer ind i en hektisk arbejdsdag.</p>
        </div>

        <div class="grunde">
          <p class="nummer">2</p>
          <h3>Øget trivsel og fokus</h3>
          <p>Hjælp dit team med at finde ro, øge energiniveauet og opnå større psykologisk tryghed</p>
        </div>

        <div class="grunde">
          <p class="nummer">3</p>
          <h3>Kosteffektivt</h3>
          <p>En lille investering med stor effekt - for både medarbejdere og virksomhedens bundlinje. .</p>
        </div>
        <button>For virksomheder</button>
      </section>

      <h2>Ikke endnu en meditations-app</h2>
      <p>Mange oplever rastløshed, når de forsøger sig med traditionel meditation eller mindfulness. Springet fra hverdagens høje gear til det meget lave tempo er simpelthen for stort, og i stedet for at finde ro bliver man frustreret.</p>
      <p>Det vil vi lave om på med Soundwheel.</p>
      <p>Vores progressive musik og enkle visualiseringer er let tilgængelige, og helt vildt powerfulde. Det tager under 10 minutter, og kræver at du lytter</p>
    </body>
  </html>
</PageLayout>
