---
import "../styles/style.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>Nærende pauser</h1>
    <h3>Via progressiv musik og visualisering</h3>
    <p>Mere ro</p>
    <p>Større fokus</p>
    <p>Ny energi</p>
    <p>Bedre søvn på bare 10 min</p>
    <img src="/img/cirkellogo.webp" alt="Forside cirkellogo" />
    <p>SoundWheel er en app med fokus på guidede lydrejser og musikmeditationer. Den kombinerer musik, stemme og visualisering for at skabe ro, energi eller fokus. Dette gøres med korte sessioner på under 10 minutter med temaer som Rest, Rise og Create.</p>
    <button>Prøv 14 dage gratis</button>
  </body>
</html>
