---
import Cardprodukt from "../components/Cardprodukt.astro";
import PageLayout from "../layouts/PageLayout.astro";
import Button from "../components/Button.astro";
import Grunde from "../components/Grunde.astro";
import Footer from "../components/Footer.astro";
import "../styles/produkt.css";

const url = "https://gcufhrwragpcwfgtbzwq.supabase.co/rest/v1/people";
const key = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdjdWZocndyYWdwY3dmZ3RiendxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI5Njg2MDIsImV4cCI6MjA3ODU0NDYwMn0.zUnYL_1b6t_zRH8yCIuox8mxHoEjtS1rY1893MG1B1g";

const options = {
  headers: {
    apikey: key,
  },
};

const supaRequest = await fetch(url, options);
const supaData = await supaRequest.json();

console.log("supaData", supaData);
---

<PageLayout>
  <html lang="da">
    <head>
      <meta charset="utf-8" />
      <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
      <meta name="viewport" content="width=device-width" />
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap" rel="stylesheet" />
      <meta name="generator" content={Astro.generator} />
      <title>Produkt</title>
    </head>
    <body>
      <main>
        <div class="grid_1fr">
          <Cardprodukt title={supaData[1]?.Overskrift} text={supaData[1]?.Tekst} Buttonlabel={supaData[1]?.["Læs mere"]} imageSrc={supaData[1]?.imgs?.[1]} />
        </div>
        <Grunde />
        <section class="svg">
          <div class="svg_p">
            <img class="cirkellogo" src="/img/cirkellogo.webp" alt="cirkel logo" />
            <p>#Soundwheel</p>
          </div>
        </section>
        <Footer />
      </main>
    </body>
  </html></PageLayout
>
