---
import Card from "../components/Card.astro";
import PageLayout from "../layouts/PageLayout.astro";
import "../styles/virksomhed.css"
---

<PageLayout>
  <html lang="en">
    <head>
      <meta charset="utf-8" />
      <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
      <meta name="viewport" content="width=device-width" />
      <meta name="generator" content={Astro.generator} />
      <title>For virksomheder</title>
    </head>
    <body>
     
      <h2>Bedre pauser for dine bedarbejdere</h2>
      <h3>Styrk trivslen i din organisation med SoundWheel Work.</h3>
      <p>I en travl hverdag er små mentale pauser afgørende for medarbejdernes trivsel og produktivitet. SoundWheels unikke lydrejser reducerer stress, skærper fokus og giver nyt overskud.
        <img src="public/img/billede2.webp" alt="billede af mand på gras">
      </p>
      
   
<p>Kun 9.999kr / år
Op til 100 medarbejdere </p>
<p>Fuld adgang til SoundWheel Work</p>
<ul>
    <li>Musikdrevne visualiseringsøvelser</li>
    <li>Dansk eller engelsk guide</li>
     <li>Mulighed for at slå guide til og fra</li>
      <li>6 teamer Heriblandt Fokus, Time out og Power Boost </li>
       <li>Mere musik, minde tale</li>
        <li>Opret nemt dine medarbejdere</li>
         <li>Intropakke med promomateriale</li>
          <li>Tutorialvideoer med nem on-boarding</li>
</ul>

      <section>
        <div class="grid_2_1fr">
        <Card img="/img/billede2.webp" text1="Lorem ipsum dolor sit amet, consectetur adipisicing elit." text2="Lorem ipsum dolor sit amet, consectetur adipisicing elit." tag="Læs mere"/>
        <Card img="/img/billede2.webp" text1="Lorem ipsum dolor sit amet, consectetur adipisicing elit." text2="Lorem ipsum dolor sit amet, consectetur adipisicing elit." tag="Læs mere"/>
        <Card img="/img/billede2.webp" text1="Lorem ipsum dolor sit amet, consectetur adipisicing elit." text2="Lorem ipsum dolor sit amet, consectetur adipisicing elit." tag="Læs mere"/>
        <Card img="/img/billede2.webp" text1="Lorem ipsum dolor sit amet, consectetur adipisicing elit." text2="Lorem ipsum dolor sit amet, consectetur adipisicing elit." tag="Læs mere"/>
   </div>
    </section>
    </body>
  </html>
</PageLayout>
