---
import Card from "../components/Card.astro";
import PageLayout from "../layouts/PageLayout.astro";
import Navigation from "../components/Navigation.astro";
---

<PageLayout>
  <html lang="en">
    <head>
      <meta charset="utf-8" />
      <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
      <meta name="viewport" content="width=device-width" />
      <meta name="generator" content={Astro.generator} />
      <title>For virksomheder</title>
    </head>
    <body>
      <h1>For virksomhheder</h1>

      <section>
        <h2>kort sektion</h2>
        <Card />
      </section>
    </body>
  </html>
</PageLayout>
