---
const {img, text1, text2, tag } = Astro.props
---

<article>
<img src={img}>
<p>{text1}</p>
<p>{text2}</p>
<p class="tag">{tag}</p>
</article> 


<style>
img{
    min-width: 100%;
}

p{
color: white; 
  text-align: left; 
  margin: 30px;
}

.tag{
    padding-bottom: 30px;
}

article{
    background-color: #7D969B;
    margin-top: 50px;
   
}
/***************** desktop ****/
@media (min-width: 760px){
article{
 margin-left: 40px;
    margin-right: 40px;
    margin-top: 30px;
}
}

</style>
